# Chapter 2. Variables, data types and operators

## Variables

Programming is all about *working with data*. Specifically, we need the ability to *store and access* data in the **memory** of our computer. Storing data sounds pretty simple - just write a value to some **memory cell** and be happy. But how do we access the value later?

Let us say, that we are writing a computer game (as we will in the last chapter in this book). We will probably need to store positions and speeds of game objects. For example, we would like to store that the player has a speed of `5` units/second. But if we just write `5` to some memory cell, we will not know what it means later on. It could be the speed of the player, but it could also be the number of eliminated enemies.

In order to be able to *access* our data, we need to store values together with a **symbolic name** that tells us what the value means. For example, we could store the value `5` with the symbolic name `player_speed`. Or we could store the value `5` with the symbolic name `enemies_destroyed`. The value is the same in both cases and yet it refers to two completely different things.

Variables allow us to reflect that. Put simply, a **variable** is a *value paired with a symbolic name* that can be used to access that value.

For example, we could store the value `42` somewhere in our memory and pair it with a symbolic name like `the_answer_to_everything`:

![](./images/variable.png)

Programmers say that the variable `the_answer_to_everything` *has the value* `42`. We are now able to access the value we just stored using the symbolic name `the_answer_to_everything`. 

Even if the value of a variable changes, its symbolic name stays the same. Let's say that the answer to everything becomes `43` instead of `42` and the variable `the_answer_to_everything` is updated to reflect that:

![](./images/variable43.png)

Now if we access the variable somewhere from our program, we automatically get the *new* value (which is `43`).

Consider another example: We can store the position of a ball in the variable `ball_position` and the speed of the ball in a variable `ball_speed`. If we want to change the position of the ball, we simply update the value of `ball_position` depending on the value of `ball_speed`. Accessing `ball_position` will now yield the new value.

The three important things we can do with variables are therefore:
1. Create a variable with a symbolic name and an initial value (programmers just say "*create a variable*" for short)
2. Change (update) the value of the variable using its symbolic name (programmers just say "*change (update) a variable*" for short)
3. Read the value of the variable using its symbolic name (programmers just say "*access a variable*" for short)

We *create a variable* in Python and using the **assignment operator** `=`:

In [ ]:
the_answer_to_everything = 42

This creates the variable `the_answer_to_everything` which has the value `42`.

![](images/variable-declaration.png)

To keep things short, instead of saying "a variable with the symbolic name `foo`" from now on we will just say "the variable `foo`".

Do note that unlike in mathematics the statement `the_answer_to_everything = 42` doesn't mean that `my_variable` *should be equal* to `42`. Instead `=` tells the Python interpreter to create a variable with the *symbolic name* given on the *left side* of the assignment operator (`the_answer_to_everything` in this case) and the *value* given on the *right side* of the assignment operator (`42` in this case). The assignment operator `=` has nothing to do with the `=` operator that you know from mathematics.

For example, a statement like `x + 2 = 4` which is totally sensible when doing math, has no meaning when writing code since `x + 2` is not a valid variable name. In fact this is what will happen if you try to write `x + 2 = 4`:

In [ ]:
x + 2 = 4

A `SyntaxError` means that we gave the Python interpreter an expression it doesn't understand. In this case `x + 2` is not a valid symbolic name, so it makes no sense to use the assignment operator here.

Remember how we printed `"Hello World"` using `print`? We can also use `print` to print a variable in a human-readable way:

In [ ]:
print(the_answer_to_everything)

As you can see, `print` outputs the *value* of the variable (which is `42` in this case), not its symbolic name. This makes sense - when we read a variable, we care about its value.

Alternatively, we can get the *unambiguous representation* of the variable in a REPL by just providing the variable name to the REPL. This is similar to how got the *unambiguous representation* of `"Hello, World!"` in the last chapter.

Getting the *unambiguous representation* of a variable will get the *unambiguous representation* of its value. Since the representation of the value `42` is again `42`, this is what we get:

In [ ]:
the_answer_to_everything

Once a variable is declared, you can change it later using `=`:

In [ ]:
the_answer_to_everything = 42  # declare the variable
the_answer_to_everything = 43  # change the variable (i.e. update its value)

Now `the_answer_to_everything` has the value `43` instead of `42`. However the symbolic name didn't change, only the value of the variable did. This means that we can still access the value using `the_answer_to_everything`. It's just a different value now:

In [ ]:
the_answer_to_everything

## Data types

The **data type** of a variable describes the possible values and allowed operations on a variable. For example, if a variable has the integer data type, its possible values are integers and you can perform operations like addition, subtraction, multiplication, division etc.

Note that instead of saying that a variable has the type `thingy`, programmers often say that a variable *is a* `thingy`. For example, if a variable has the data type integer, programmers will say that the variable *is an* integer.

Python has four built-in data types that are of particular importance to us right now - namely the **integer** data type (`int` for short), the **floating point** data type (`float` for short), the **boolean** data type (`bool` for short) and the **string** data type (`str` for short). Let's have a look at these data types one by one.

> These four data types are absolutely crucial to understand and you will be using them practically every time you write any code at all.

### The integer data type

Variables of the integer data type are capable of storing - well - integers (*we should probably give you a moment to recover from this shock*). Such variables are called *integers* for short.

For example, the following variables all have the integer data type:

In [ ]:
drinking_age = 18
winter_temperature_celsius = -30
game_score = 120

Let us verify that these variables all have the integer data type using `type` which shows the data type of a variable:

In [ ]:
type(drinking_age)

In [ ]:
type(winter_temperature_celsius)

In [ ]:
type(game_score)

All three lines output `int` which means that the respective values are indeed integers.

### The floating point data type

Variables of the floating point data type are capable of storing - well - floating point numbers (this book is just *full of surprises*). These are numbers which have a decimal point. Such variables are called *floats* for short.

We should note that floats and real numbers are *not* the same thing. Floats are only approximations of real numbers. The reason they are *only approximations* is not because of Python, but because of the limitations of something all programmers really hate - *reality*.

After all, real numbers can have an arbitrary amount of digits after the decimal point - some real numbers even have an infinite amount of digits after the decimal point (like the number *pi*). But of course such numbers cannot be represented accurately by our hardware. After all, we do not have an infinite amount of memory space. In fact the amount of memory available to a single floating point number is usually *very finite*.

Here is an example of a floating point variable:

In [ ]:
fastest_sprint = 9.58

We can again verify that `fastest_sprint` is a floating point variable using `type`:

In [ ]:
type(fastest_sprint)

The fact that floating point numbers are only approximations of real numbers has important consequences in the real world. For example, if we try to add `0.1` and `0.2` we get a surprising result:

In [ ]:
0.1 + 0.2

We will not concern ourselves with the gritty details of floating point representation in this chapter. You can easily hold an entire university course on that (in fact some universities do).

Just remember that working with floating point numbers can and *will* be inaccurate. This is also the reason why programmers strongly prefer representing values as integers and only fallback to floating point numbers if they have absolutely no other choice.

For instance, if you need to store the amount of money in a bank account you should store it in cents (e.g. `15673` cents) instead of dollars (e.g. `156.73` dollars).

### The boolean data type

Another important data type is the `bool` data type. A boolean variable can store the two values `True` and `False`:

In [ ]:
this_is_a_great_book = True
german_weather_is_generally_sunny = False

Boolean values are not particularly useful on their own. However they will become extremely important when we will need to do things depending on the outcome of certain logical operations.

For example, we might want to determine whether a game object has been destroyed based on the outcome of a collision check. A boolean variable `collides` which is `True` if a collision happened and `False` otherwise certainly comes in handy in such a case.

### The string data type

The final data type we will look at in this chapter is the string data type. A **string** is just a *sequence of characters*. 

String literals go either between double quotes or between single quotes:

In [ ]:
my_name = "Max Mustermann"

In [ ]:
my_country = 'Germany'

Note that string variables are the first variables whose *unambiguous representation* look different than their value. If we print `my_name`, we get `Max Mustermann` without the quotes:

In [ ]:
print(my_name)

However if we obtain the *unambgiuous representation* of the variable by typing the variable name in a REPL, we get `'Max Mustermann'` with the quotes:

In [ ]:
my_name

Note that we assigned the value `"Max Mustermann"` but the *unambgiuous representation* looks like `'Max Mustermann'`. These two literals represents *the exact same value*. The quotes aren't part of the actual string value, they only serve to indicate a string literal.

There is no strong convention in Python regarding the use of single or double quotes. The general advice is to pick one and stick to that in your codebase. Within this particular book we will use double quotes.

Something you should try from time to time is to see what happens if you make a specific mistake on purpose. That way when you see that same mistake later on in a more complicated codebase you will already know what to do. For example, what happens if we forget the quotes in a string?

In [ ]:
my_country = Germany

We get a `NameError: name 'Germany' is not defined`. This is because in this example the interpreter thinks that `Germany` is supposed to be the symbolic name of a variable (since the quotes are missing). As we did not declare a variable `Germany`, Python raises a `NameError` telling us that there is no variable with the name `Germany`.

That is something very important to keep in mind - if you write a sequence of characters *without quotes*, the Python interpreter will think that the sequence of characters represents a variable name:

In [ ]:
the_answer_to_everything = 42

# Python assumes that this sequence of characters
# represents the variable the_answer_to_everything.
# Accordingly the line below will output the value
# of the variable which in this case is 42.
# vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

the_answer_to_everything

However if you write a sequence of characters *with quotes*, the Python interpreter will think that the sequence of characters represents a string value:

In [ ]:
# Python assumes that this sequence of characters
# represents the string with the value 
# "the_answer_to_everything".
# Accordingly the line below will output the string
# which in this case is "the_answer_to_everything".
# vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
"the_answer_to_everything"

Sometimes we need to include the values of variables in strings. You can do this using a so called **format string**. In order to construct a format string, we prefix the string with `f` and put the variables inside curly braces `{}`:

In [ ]:
the_answer_to_everything = 42
quote = f"The answer to the universe and everything is {the_answer_to_everything}"

In [ ]:
quote

Don't forget the curly braces! Otherwise Python will think that `the_answer_to_everything` is just part of the string literal:

In [ ]:
wrong_quote = f"The answer to the universe and everything is the_answer_to_everything"

In [ ]:
wrong_quote

We can use as many variables in a format string as we want to:

In [ ]:
x = 2
y = 2
z = 4
statement = f"The value of {x} + {y} is {z}"

In [ ]:
statement

## Operators

### Equality operators

Every data type has associated **operators**. An operator takes one or more values and produces a result.

Two important operators we can use with variables of essentially every data type are `==` (equals) and `!=` (not equals). Consider the following variables:

In [ ]:
x = 2
y = 4
z = 2

The variables `x` and `z` have the same values, while the variables `x` and `y` have different values. Therefore the equality operator `==` produces the following results:

In [ ]:
x == y

In [ ]:
x == z

In [ ]:
y == z

The "not equals" operator `!=` unsurprisingly produces the opposite results:

In [ ]:
x != y

In [ ]:
x != z

In [ ]:
y != z

So far, so obvious. But what about this?

In [ ]:
42 == "42"

The reason `==` outputs `False` here is because `42` is the integer `42`, while `"42"` is a string with the content `42`. These are two completely different things! In Python, a string will never be equal to an integer. *Generally speaking, if two values have a different data type, they will rarely be equal.*

The most prominent exception to that rule is that floating point numbers are equal to integers if they have the same value:

In [ ]:
42 == 42.0

### Arithmetic operators

You can also use the usual **arithmetic operators** `+`, `-`, `*` and `/` on integers and floats. Unless you slept through school (in which case we sympathize), you probably already know what they do.

For completeness sake, here are some examples:

In [ ]:
42 + 43

In [ ]:
42 - 43

In [ ]:
42 * 43

In [ ]:
42 / 43

Note that `+`, `-` and `*` will always return an integer, but `/` will always return a float (even if there would be no remainder).

In [ ]:
42 / 1

In [ ]:
type(42 / 1)

Do note that if we apply one of these operations on two floating point numbers, we get another floating point number. This holds true, even if the result could be represented as an integer:

In [ ]:
type(42.0 + 43.0)

So far, so (relatively) obvious. But what happens if we try to add a `float` and an `int`? Python supports **mixed arithmetic**. If we perform an arithmetic operation with a `float` and an `int` the result will be a `float`:

In [ ]:
x = 42
y = 43.5

In [ ]:
x

In [ ]:
y

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
x + y

In [ ]:
type(x + y)

Finally we should mention that if you attempt to divide by `0`, Python will get *very mad* at you:

In [ ]:
42 / 0

We will later learn how we can handle errors like that. For now just don't divide by `0` (this is also generally good life advice).

Two other important arithmetic operators are the **modulo** `%` and **integer division** `//` (also called floor division) operators. These return the integer quotient and remainder of a division respectively. For example, `63 / 42` is `1` with remainder `21`. Therefore:

In [ ]:
63 // 42

In [ ]:
63 % 42

> These operators also work with negative numbers, but they are rarely useful in that scenario, have unintuitive behaviour and should generally be avoided in that case.

The `%` operator is very useful to check if a number is divisible by another number without a remainder. If `x % y` is `0`, then we know that `x` is divisible by `y` without a remainder.

Finally, Python also has the **exponentiation** operator `**`:

In [ ]:
2 ** 3

All the operators we just introduced have so-called **in-place** equivalents which perform the respective operation and an assignment *at the same time*. For example, instead of writing `x = x + y` you can write `x += y`.

Here are a few examples:

In [ ]:
x = 42
y = 43

# Add y to x and assign the resulting value to x.
# This is equivalent to x = x + y.
x += y

In [ ]:
x

In [ ]:
x = 42
y = 43

# Multiply y with x and assign the resulting value to x.
# This is equivalent to x = x * y.
x *= y

In [ ]:
x

In [ ]:
x = 2
y = 3

# Take the power of x with respect to y
# and assign the resulting value to x.
# This is equivalent to x = x ** y.
x **= y

In [ ]:
x

### Comparison operators

Python also has the **comparison operators** `<`, `<=`, `>`, `>=`, which work pretty much the way you would expect:

In [ ]:
x = 42
y = 43

In [ ]:
x < y

In [ ]:
x <= y

In [ ]:
x > y

In [ ]:
x >= y

In [ ]:
x < x

In [ ]:
x <= x

In [ ]:
x > x

In [ ]:
x >= x

Not much to say here - pretty straightforward stuff.

### Using the operators on strings

Something that might be surprising to learn is that we can use all of these operators with strings. However in this context the operators take on different meanings. The `+` operator becomes **string concatenation**:

In [ ]:
my_str = "Hello, "
other_str = " World!"

In [ ]:
my_str + other_str

The `*` operator becomes **string repetition**:

In [ ]:
my_str = "hello"
my_str * 3

We can use the `==` and `!=` operators on strings as well:

In [ ]:
"Hello" == "Hello"

Two strings only compare equal, if *all* characters are equal (including whitespace characters). For example, the string `"Hello"` will *not be equal* to the string `"Hello "` (with a whitespace at the end).

In [ ]:
"Hello" == "Hello "

Interestingly enough we can even use the comparison operators, which compare the strings **lexicographically**. Every character of string is compared alphabetically until we find two characters that aren't equal:

In [ ]:
"a" < "b"

In [ ]:
"aa" < "ab"

Don't spend too much time worrying about this - you will rarely use `<`, `<=`, `>` and `>=` to compare strings. We mostly mention this for the sake of completeness.

### Logical operators

Finally, we need to introduce the **logical operators** `and`, `or` and `not` which take boolean values and return another boolean value.

The `and` operator takes two boolean values and returns `True` if and only if they are *both* `True`:

In [ ]:
False and False

In [ ]:
False and True

In [ ]:
True and False

In [ ]:
True and True

The `or` operator takes two boolean values and returns `True` if *at least one* of the two values is `True`:

In [ ]:
False or False

In [ ]:
False or True

In [ ]:
True or False

In [ ]:
True or True

The `not` operator takes a single boolean value and returns the *negation* of that value:

In [ ]:
not False

In [ ]:
not True

For example, let's say we are writing a game and the variable `ran_out_of_time` determines whether the player ran out of time and `player_destroyed` determines whether the player was destroyed. Assume that the player wasn't destroyed, but ran out of time:

In [ ]:
player_destroyed = False
ran_out_of_time = True

In thas case the variable `game_lost` that determines whether the player lost the game might look like this:

In [ ]:
game_lost = ran_out_of_time or player_destroyed

In [ ]:
game_lost

### Grouping operators with parentheses

Just like in mathematics, you can change the **precedence** of operators (i.e. which operator is evaluated first) using parentheses `()`. Consider this expression:

In [ ]:
2 + 3 * 4

Here `3 * 4` is evaluated first, since `*` has a higher precedence than `+`. However you can change that by wrapping `2 + 3` in parentheses:

In [ ]:
(2 + 3) * 4